@model JokesMVC2023.Models.Data.Joke

<div>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.JokeQuestion)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.JokeQuestion)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.JokeAnswer)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.JokeAnswer)
        </dd>
    </dl>
</div>
<div>
    <input type="button" class="btn btn-success" value="Edit" onclick="showEditModal(@Model.Id)" />
    <input type="button" class="btn btn-danger" value="Delete" onclick="deleteConfirm(@Model.Id)" />
</div>
